    .select-list-group__search{
      height: 9vh;
      width: 10vw;
    }
   .select-list-group__list{
      list-style: none; 
      padding: 0;
      width: 10vw;
      max-height: 10rem;
      position: absolute;
      margin-left: 10px;
      background-color: #f0f3f7;
      overflow: auto;
   }
    li li:hover {color: white; background-color: grey;}
    li li.current {color: white;background-color: pink;}
    .select-list-group .select-list-group__search:focus + .select-list-group__toggle:after {content: "^";}
    .select-list-group [data-toggle=false] {display: none;}
    .select-list-group [data-toggle=true] {display: inherit;box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.2);}
    .select-list-group li[data-display=false] {display: none;}
    .select-list-group li[data-display=true] {display: inherit;}
    .select-list-group li[data-highlight=false] {border-left: 5px solid transparent;}
    .select-list-group li[data-highlight=true] {border-left: 5px solid darkslateblue;}
    /*-----------------------------------------------------*/
   .select-list-group__search2{
      height: 9vh;
      width: 10vw;
      border-right: 1px solid #eeeeee;
    }

    .select-list-group__list2 {
      list-style: none; 
      padding: 0;
      width: 10vw;
      max-height: 10rem;
      position: absolute;
      margin-left: 10px;
      background-color: #f0f3f7;
      overflow: auto;
   }
    li li:hover {color: white; background-color: grey;}
    li li.current {color: white;background-color: pink;}
    .select-list-group2 .select-list-group__search2:focus + .select-list-group__toggle:after {content: "^";}
    .select-list-group2 [data-toggle=false] {display: none;}
    .select-list-group2 [data-toggle=true] {display: inherit;box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.2);}
    .select-list-group2 li[data-display=false] {display: none;}
    .select-list-group2 li[data-display=true] {display: inherit;}
    .select-list-group2 li[data-highlight=false] {border-left: 5px solid transparent;}
    .select-list-group2 li[data-highlight=true] {border-left: 5px solid darkslateblue;}